@font-face {
  font-family: "Sneak";
  src: url("../assets/fonts/Sneak-Regular.otf") format("opentype");
}
@font-face {
  font-family: "Sneak Black";
  src: url("../assets/fonts/Sneak-Black.otf") format("opentype");
}

.disabled-link {
  pointer-events: none;
}
